<!doctype html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
      body {
              margin: 5px;
              padding: 50px 0;
              position: relative;
            }
    </style>
</head>
<title>Bus Accidents</title>
<div class="container">
    <div class="jumbotron mb-4">
        <div class="container">
            <h3>Inter-provincial Bus Accidents in Ecuador</h3>
            <p>
                An automated data pipeline for monitoring Ecuador's inter-provincial bus accidents.

            </p>
        </div>

    </div>
            <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="#">The Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About the Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Downloads</a>
            </li>
        </ul>
    </div>
</div>
<body>
<div class="container">
    {{ table_processed }}
</div>
</body>